<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Food</key>
	<dict>
		<key>type</key>
		<string>Expenses</string>
		<key>sequence</key>
		<integer>10</integer>
		<key>name</key>
		<string>Food</string>
		<key>icon</key>
		<string>🍱</string>
	</dict>
	<key>Education</key>
	<dict>
		<key>type</key>
		<string>Expenses</string>
		<key>sequence</key>
		<integer>20</integer>
		<key>name</key>
		<string>Education</string>
		<key>icon</key>
		<string>🎓</string>
	</dict>
	<key>Commute</key>
	<dict>
		<key>type</key>
		<string>Expenses</string>
		<key>sequence</key>
		<integer>30</integer>
		<key>name</key>
		<string>Commute</string>
		<key>icon</key>
		<string>🚌</string>
	</dict>
	<key>Wages</key>
	<dict>
		<key>type</key>
		<string>Income</string>
		<key>sequence</key>
		<integer>40</integer>
		<key>name</key>
		<string>Wages</string>
		<key>icon</key>
		<string>💰</string>
	</dict>
	<key>Entertainment</key>
	<dict>
		<key>type</key>
		<string>Expenses</string>
		<key>sequence</key>
		<integer>50</integer>
		<key>name</key>
		<string>Entertainment</string>
		<key>icon</key>
		<string>🎮</string>
	</dict>
	<key>Social</key>
	<dict>
		<key>type</key>
		<string>Expenses</string>
		<key>sequence</key>
		<integer>60</integer>
		<key>name</key>
		<string>Social</string>
		<key>icon</key>
		<string>🍸</string>
	</dict>
	<key>Sport</key>
	<dict>
		<key>type</key>
		<string>Expenses</string>
		<key>sequence</key>
		<integer>70</integer>
		<key>name</key>
		<string>Sport</string>
		<key>icon</key>
		<string>⚽️</string>
	</dict>
	<key>Travel</key>
	<dict>
		<key>type</key>
		<string>Expenses</string>
		<key>sequence</key>
		<integer>80</integer>
		<key>name</key>
		<string>Travel</string>
		<key>icon</key>
		<string>✈️</string>
	</dict>
	<key>Gift</key>
	<dict>
		<key>type</key>
		<string>Expenses</string>
		<key>sequence</key>
		<integer>90</integer>
		<key>name</key>
		<string>Gift</string>
		<key>icon</key>
		<string>🎁</string>
	</dict>
	<key>Car</key>
	<dict>
		<key>type</key>
		<string>Expenses</string>
		<key>sequence</key>
		<integer>100</integer>
		<key>name</key>
		<string>Car</string>
		<key>icon</key>
		<string>🚘</string>
	</dict>
	<key>Petroleum</key>
	<dict>
		<key>type</key>
		<string>Expenses</string>
		<key>sequence</key>
		<integer>110</integer>
		<key>name</key>
		<string>Petroleum</string>
		<key>icon</key>
		<string>⛽️</string>
	</dict>
	<key>Maintenance</key>
	<dict>
		<key>type</key>
		<string>Expenses</string>
		<key>sequence</key>
		<integer>120</integer>
		<key>name</key>
		<string>Maintenance</string>
		<key>icon</key>
		<string>🛠</string>
	</dict>
	<key>Insurance</key>
	<dict>
		<key>type</key>
		<string>Expenses</string>
		<key>sequence</key>
		<integer>130</integer>
		<key>name</key>
		<string>Insurance</string>
		<key>icon</key>
		<string>📄</string>
	</dict>
	<key>Home</key>
	<dict>
		<key>type</key>
		<string>Expenses</string>
		<key>sequence</key>
		<integer>140</integer>
		<key>name</key>
		<string>Home</string>
		<key>icon</key>
		<string>🏠</string>
	</dict>
	<key>Electricity</key>
	<dict>
		<key>type</key>
		<string>Expenses</string>
		<key>sequence</key>
		<integer>150</integer>
		<key>name</key>
		<string>Electricity</string>
		<key>icon</key>
		<string>💡</string>
	</dict>
	<key>Water</key>
	<dict>
		<key>type</key>
		<string>Expenses</string>
		<key>sequence</key>
		<integer>160</integer>
		<key>name</key>
		<string>Water</string>
		<key>icon</key>
		<string>💧</string>
	</dict>
	<key>Gas</key>
	<dict>
		<key>type</key>
		<string>Expenses</string>
		<key>sequence</key>
		<integer>170</integer>
		<key>name</key>
		<string>Gas</string>
		<key>icon</key>
		<string>🔥</string>
	</dict>
	<key>Telephone</key>
	<dict>
		<key>type</key>
		<string>Expenses</string>
		<key>sequence</key>
		<integer>180</integer>
		<key>name</key>
		<string>Telephone</string>
		<key>icon</key>
		<string>📱</string>
	</dict>
	<key>Internet</key>
	<dict>
		<key>type</key>
		<string>Expenses</string>
		<key>sequence</key>
		<integer>190</integer>
		<key>name</key>
		<string>Internet</string>
		<key>icon</key>
		<string>📡</string>
	</dict>
	<key>Beauty</key>
	<dict>
		<key>type</key>
		<string>Expenses</string>
		<key>sequence</key>
		<integer>200</integer>
		<key>name</key>
		<string>Beauty</string>
		<key>icon</key>
		<string>👗</string>
	</dict>
	<key>Shopping</key>
	<dict>
		<key>type</key>
		<string>Expenses</string>
		<key>sequence</key>
		<integer>210</integer>
		<key>name</key>
		<string>Shopping</string>
		<key>icon</key>
		<string>🛍</string>
	</dict>
	<key>Medication</key>
	<dict>
		<key>type</key>
		<string>Expenses</string>
		<key>sequence</key>
		<integer>220</integer>
		<key>name</key>
		<string>Medication</string>
		<key>icon</key>
		<string>💊</string>
	</dict>
	<key>Pet</key>
	<dict>
		<key>type</key>
		<string>Expenses</string>
		<key>sequence</key>
		<integer>230</integer>
		<key>name</key>
		<string>Pet</string>
		<key>icon</key>
		<string>🐶</string>
	</dict>
	<key>Ticket</key>
	<dict>
		<key>type</key>
		<string>Expenses</string>
		<key>sequence</key>
		<integer>240</integer>
		<key>name</key>
		<string>Ticket</string>
		<key>icon</key>
		<string>🎫</string>
	</dict>
	<key>Grocery</key>
	<dict>
		<key>type</key>
		<string>Expenses</string>
		<key>sequence</key>
		<integer>250</integer>
		<key>name</key>
		<string>Grocery</string>
		<key>icon</key>
		<string>🛒</string>
	</dict>
	<key>Bonus</key>
	<dict>
		<key>type</key>
		<string>Income</string>
		<key>sequence</key>
		<integer>260</integer>
		<key>name</key>
		<string>Bonus</string>
		<key>icon</key>
		<string>📈</string>
	</dict>
</dict>
</plist>
